@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="MainModule">
    <div ng-view="login"></div>
</div>

@section Scripts{

    <script src="~/js/public/angular.js"></script>
    <script src="~/js/public/angular-route.min.js"></script>
    <script src="~/Angular/Module.js"></script>
    <script src="~/Angular/Service.js"></script>
    <script src="~/Angular/controller/LoginController.js"></script>
    <script src="~/Angular/controller/AdminController.js"></script>

}